@media only screen and (max-width: 1170px) (min-width: 406px) {
html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}
#monkey {
  position: absolute;
  bottom: 550px;
  left: 120px;
}
}
